.background {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/bg2.jpg");
    background-size: cover;
    z-index: 0;
    filter: blur(9px) brightness(0.7);
    transform: scale(1);
    opacity: 0;
    transition: 1.5s ease;
    &.unfocused{
        transition: 0.4s ease;
        filter: blur(40px) brightness(0.7) !important;
    }
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

body {
    background: black;
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}

.galileo-logo {
    position: fixed;
    bottom: 0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background: white;
    width: 100%;
    z-index: 1;
    transition: 0.4s ease;
    img {
        width: 200px;
        height: 78px;
        filter: grayscale(100%);
    }
}

.copyright {
    position: fixed;
    bottom: 130px;
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
    z-index: 1;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.34);
    transition: 0.4s ease;
    @include media-max(650px) {
        font-size: 12px;
    }
    @include media-max(500px) {
        font-size: 11px;
    }
}

.back-container {
    position: fixed;
    bottom: 40px;
    display: flex; //width: 100%;
    z-index: 1; //background: pink;
    left: 0;
    .btn-back {
        margin-left: 40px; //margin-right: 40px;
        transform: translateX(-85px);
        transition: 0.3s ease;
        &:hover,
        &:active,
        &:focus {
            transform: scale(1.2) !important;
            color: black;
        }
    }
}

.dynamic-information {
    padding: 50px 50px 50px 50px;
    position: relative;
    color: white;
    display: flex;
    z-index: 1;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-40px);
    transition: 0.4s ease;
    max-width: 900px;
    width: 100%;
    align-items: center;
    .section-title {
        display: flex;
        padding-left: 24px;
        padding-right: 24px;
        font-size: 34px;
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
        justify-content: flex-start;
        @include media-max(650px) {
            font-size: 30px;
        }
        @include media-max(500px) {
            font-size: 26px;
        }
    }
    .section-body {
        display: flex;
        padding-left: 24px;
        padding-right: 24px;
        flex-direction: column;
        width: 100%;
        .subtitle {
            font-size: 24px;
            display: flex;
            margin-top: 18px;
            @include media-max(650px) {
                font-size: 20px;
            }
            @include media-max(500px) {
                font-size: 16px;
            }
        }
        p {
            padding: 15px 15px;
            text-align: justify;
            background: black;
            color: white;
            margin: 5px 0;
            @include media-max(650px) {
                font-size: 12px;
            }
            @include media-max(500px) {
                font-size: 11px;
            }
        }
    }
}

.title-container {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    transition: 0.4s ease;
    .inner-container {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        .title-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 900px;
            height: auto;
            padding: 50px 50px;
            justify-content: center;
            margin-top: -30px;
            &:hover,
            &:active,
            &:focus {
                .title {
                    border-bottom: 7px solid white;
                    transform: translateY(-30px);
                }
                .title-menu {
                    opacity: 1;
                    transform: translateY(0);
                    user-select: initial;
                    -moz-user-select: none;
                    -khtml-user-select: none;
                    -webkit-user-select: none;
                    -o-user-select: none;
                }
                @include media-max(500px) {
                    .title {
                        border-bottom: 7px solid white;
                        transform: translateY(-20px);
                    }
                }
            }
            .title {
                display: flex;
                height: 110px;
                color: white;
                text-shadow: 0 0 15px rgba(0, 0, 0, 0.34);
                font-size: 68px;
                border-bottom: 0 solid transparent;
                transition: 0.2s ease; //text-transform: uppercase;
                font-weight: bold;
                @include media-max(900px) {
                    font-size: 58px;
                    height: 100px;
                }
                @include media-max(750px) {
                    font-size: 48px;
                    height: 90px;
                }
                @include media-max(650px) {
                    font-size: 38px;
                    height: 70px;
                }
                @include media-max(500px) {
                    font-size: 28px;
                    height: 50px;
                }
                @include media-max(380px) {
                    font-size: 22px;
                    height: 50px;
                }
            }
            .title-menu {
                display: flex;
                justify-content: space-between;
                transition: transform 0.2s ease, opacity 0.2s ease;
                opacity: 0;
                transform: translateY(-30px);
                user-select: none;
                -moz-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
                -o-user-select: none;
                width: 658px;
                flex-wrap: wrap;
                max-width: 100%;
                @include media-max(750px) {
                    width: 580px;
                }
                @include media-max(650px) {
                    width: 470px;
                }
                @include media-max(500px) {
                    width: 280px;
                }
                @include media-max(380px) {
                    width: 205px;
                }
                .btn-menu {
                    padding: 10px 15px;
                    box-shadow: 0 0 15px rgba(0, 0, 0, 0.34);
                    font-size: 15px;
                    margin: 5px 0;
                    @include media-max(650px) {
                        font-size: 12px;
                    }
                    @include media-max(500px) {
                        font-size: 11px;
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}