.staff-container{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    .staff-card{
        margin: 15px 10px;
        display: flex;
        flex-direction: column;
        width: $staff-width + 50px;
        justify-content: flex-start;
        align-items: center;
        &.boss{
            @include staff-decoration($boss-color);
        }
        &.graphic-designer{
            @include staff-decoration($graphic-designer-color);
        }
        &.projects-leader{
            @include staff-decoration($projects-color);
        }
        &.workshops-leader{
            @include staff-decoration($workshops-color);
        }
        &.projects-assistant{
            @include staff-decoration($projects-color);
        }
        &.workshops-assistant{
            @include staff-decoration($workshops-color);
        }
        
        .staff-image{
            position: relative;
            border-radius: 100%;
            overflow: hidden;
            display: flex;
            width: $staff-width;
            padding-top: $staff-width;
            border: 6px solid transparent;
            transition: 0.4s ease;
            background: $image-background-color;
            cursor: pointer;
            opacity: 0;
            transform: scale(0.7);
            &:hover,
            &:active,
            &:focus{
                img{
                    filter: blur(2px) brightness(0.3) grayscale(50%);
                    transform: scale(1.1);
                }
                .staff-job{
                    opacity: 1;
                }
            }
            img{
                transition: 0.4s ease;
                width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -$staff-width/2;
                margin-top: -$staff-width/2;
            }
            .staff-see-more{
                transition: 0.4s ease;
                position: absolute;
                display: flex;
                height: 100%;
                top: 0;
                left: 6px;
                right: 6px;
                text-align: center;
                justify-content: center;
                align-items: center;
                opacity: 0;
                text-shadow: 0 0 15px rgba(0, 0, 0, 0.34);
            }
        }
        .staff-name-container{
            display: flex;
            align-items: center;
            .staff-emoji{
                margin-right: 3px;
                margin-bottom: 2px;
            }
            .staff-name{
                margin-top: 5px;
                margin-bottom: 5px;
                color: white;
                display: flex;
                justify-content: center;
                font-size: 16px;
                font-weight: 700;
                text-shadow: 0 0 15px rgba(0, 0, 0, 0.34);
            }
        }
        .staff-job{
            transition: 0.4s ease;
            color: gainsboro;
        }
        .staff-information{
            display: flex;
            width: 100%;
            // background: black;
            transition: 0.4s ease;
            border-bottom: 6px solid transparent;
            p{
                width: 100%;
                display: flex;
                text-align: justify;
                color: white;
                padding: 2px 15px 8px 15px;
            }
        }
    }
}