@mixin sectionPadding{
  padding: 60px 0;
}
  

@mixin media-max($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

@mixin media-min($width) {
  @media only screen and (min-width: $width) {
      @content;
  }
}

@mixin media-orientation($orientation) {
  @media only screen and (orientation: $orientation) {
      @content;
  }
}

@mixin staff-decoration($color) {
  .staff-image{
    &:hover,
    &:active,
    &:focus{
        border: 6px solid $color;
        & + .staff-name-container + .staff-job + .staff-information{
            border-bottom: 6px solid $color;
        }
        & + .staff-name-container + .staff-job{
          color: $color;
      }
      .staff-see-more{
        opacity: 1;
      }
    }
    .staff-see-more{
      color: $color;
    }
  }
}
